.version.about /* version checker */
{
	color: #0000FC;
	background-color: #58EAF0;
}

#page
{
	z-index: 1;
	min-height: 300px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u122
{
	z-index: 3;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 28.96%;
	left: 2.09%;
}

#menuu351
{
	z-index: 5;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 42.71%;
	left: 53.55%;
}

#u373
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 32.93%;
}

#u439
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u439:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u439:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u441-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u439:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u439:active #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u374
{
	top: 31px;
	width: 137.04%;
}

#u405
{
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u405:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u406-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 97.84%;
	left: 1.09%;
}

#u405:hover #u406-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u377
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u405.MuseMenuActive,#u377:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u379-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u405.MuseMenuActive #u406-4,#u377:hover #u379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u435
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u377.MuseMenuActive,#u435:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u377.MuseMenuActive #u379-4,#u435:hover #u438-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u375,#u404,#u376,#u432,#u418
{
	position: relative;
	width: 100%;
}

#u419
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u435.MuseMenuActive,#u419:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u419.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u422-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u435.MuseMenuActive #u438-4,#u419:hover #u422-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u419.MuseMenuActive #u422-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u406-3,#u379-3,#u438-3,#u422-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u366
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 32.93%;
	left: 33.42%;
}

#u367
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u439.MuseMenuActive,#u367:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u367:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u370-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u439.MuseMenuActive #u441-4,#u367:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u367:active #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u443
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 33.18%;
	left: 66.83%;
}

#u444
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u367.MuseMenuActive,#u444:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u444:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u444.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u447-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u367.MuseMenuActive #u370-4,#u444:hover #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u444:active #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u444.MuseMenuActive #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u118,#u118-bw
{
	z-index: 2;
	min-height: 80px;
}

#u861
{
	z-index: 59;
	min-height: 290px;
	padding-bottom: 11px;
	background: transparent url("../images/aboutheader.jpg") no-repeat center center;
	background-size: cover;
}

#u861_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u880-4
{
	z-index: 61;
	min-height: 40px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 41px;
	font-size: 34px;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	width: 20.94%;
	left: 2.71%;
}

#u861-bw
{
	z-index: 59;
	min-height: 290px;
}

#u889-7
{
	z-index: 69;
	min-height: 41px;
	background-color: transparent;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
	width: 94.07%;
	margin-left: 3.03%;
}

#u889-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u914
{
	z-index: 116;
	height: 1px;
	background-color: #EAEAEA;
	margin-top: 33px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u905-4
{
	z-index: 65;
	min-height: 40px;
	background-color: transparent;
	color: #B32028;
	line-height: 41px;
	text-align: center;
	font-size: 34px;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	margin-top: 18px;
	position: relative;
	width: 94.59%;
	margin-left: 2.71%;
}

#u895
{
	z-index: 113;
	background-color: transparent;
	position: relative;
	width: 71.78%;
	margin-left: 14.07%;
}

#u911
{
	z-index: 115;
	height: 1px;
	background-color: #EAEAEA;
	margin-top: 20px;
	position: relative;
	width: 95.84%;
	margin-left: 2.09%;
}

#u908-37
{
	z-index: 76;
	min-height: 41px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
	width: 94.07%;
	margin-left: 3.03%;
}

#u889,#u908-2,#u908-3
{
	font-size: 16px;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	line-height: 19px;
}

#u908-4,#u908-8,#u908-12,#u908-16,#u908-20,#u908-24,#u908-28,#u908-32
{
	color: #B32028;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
}

#u908-6,#u908-7,#u908-10,#u908-11,#u908-14,#u908-15,#u908-18,#u908-19,#u908-22,#u908-23,#u908-26,#u908-27,#u908-30,#u908-31,#u908-34,#u908-35
{
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
}

#u917
{
	z-index: 60;
	height: 301px;
	background: transparent url("../images/about-coworkers.jpg") no-repeat center center;
	background-size: cover;
}

#u917-bw
{
	z-index: 60;
	margin-top: 11px;
	height: 301px;
}

#u848
{
	z-index: 50;
	min-height: 34px;
	padding-bottom: 19px;
}

#u118_align_to_page,#u848_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u849-4
{
	z-index: 51;
	width: 113px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 2.09%;
}

#u850-4
{
	z-index: 55;
	width: 183px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 78.86%;
}

#u848-bw
{
	z-index: 50;
	min-height: 34px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u895_img,#u122_img
{
	width: 100%;
}

