.version.our_brands /* version checker */
{
	color: #00000D;
	background-color: #D7952D;
}

#page
{
	z-index: 1;
	min-height: 300px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	border-radius: 1px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u122
{
	z-index: 3;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 28.96%;
	left: 2.09%;
}

#menuu351
{
	z-index: 5;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	width: 42.71%;
	left: 53.55%;
}

#u373
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 32.93%;
}

#u439
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u439:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u439:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u441-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u439:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u439:active #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u374
{
	top: 31px;
	width: 137.04%;
}

#u405
{
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u405:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u406-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 97.84%;
	left: 1.09%;
}

#u405:hover #u406-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u377
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u405.MuseMenuActive,#u377:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u379-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u405.MuseMenuActive #u406-4,#u377:hover #u379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u435
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u377.MuseMenuActive,#u435:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u438-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u377.MuseMenuActive #u379-4,#u435:hover #u438-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u375,#u404,#u376,#u432,#u418
{
	position: relative;
	width: 100%;
}

#u419
{
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u435.MuseMenuActive,#u419:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u419.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u422-4
{
	min-height: 13px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	width: 97.84%;
	left: 1.09%;
}

#u435.MuseMenuActive #u438-4,#u419:hover #u422-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u419.MuseMenuActive #u422-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 97.84%;
	margin: 0px -10000px 0px 0%;
}

#u406-3,#u379-3,#u438-3,#u422-3
{
	margin-left: 2px;
	margin-right: 2px;
}

#u366
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 32.93%;
	left: 33.42%;
}

#u367
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u439.MuseMenuActive,#u367:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u367:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u370-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u439.MuseMenuActive #u441-4,#u367:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u367:active #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u443
{
	min-height: 31px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	width: 33.18%;
	left: 66.83%;
}

#u444
{
	padding-bottom: 14px;
	position: relative;
	width: 100%;
}

#u367.MuseMenuActive,#u444:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u444:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u444.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u447-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	width: 100%;
}

#u367.MuseMenuActive #u370-4,#u444:hover #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u444:active #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u444.MuseMenuActive #u447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u118,#u118-bw
{
	z-index: 2;
	min-height: 80px;
}

#u1326
{
	z-index: 61;
	min-height: 216px;
	padding-bottom: 16px;
	background: transparent url("../images/ourbrands-header.jpg") no-repeat center center;
	background-size: cover;
}

#u1326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u1460-4
{
	z-index: 66;
	min-height: 37px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-size: 36px;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	width: 20.32%;
	left: 4.48%;
}

#u1326-bw
{
	z-index: 61;
	min-height: 216px;
}

#u1337-4
{
	z-index: 62;
	min-height: 51px;
	background-color: transparent;
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-family: myriad-pro, sans-serif;
	font-weight: 400;
	margin-top: 27px;
	position: relative;
	width: 91.25%;
	margin-left: 4.48%;
}

#pu1480
{
	margin-top: 27px;
	width: 100%;
}

#u1480
{
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	width: 94.28%;
	left: 2.92%;
}

#u1404
{
	z-index: 70;
	background-color: #BFBFBF;
	border-radius: 4px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	width: 21.57%;
	left: 74.28%;
}

#u1453
{
	z-index: 86;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 87.93%;
	left: 6.29%;
}

#u1392
{
	z-index: 87;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1440
{
	z-index: 88;
	background-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 84.07%;
	left: 6.6%;
}

#u1340
{
	z-index: 71;
	background-color: #BFBFBF;
	border-radius: 4px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	width: 21.57%;
	left: 4.48%;
}

#u1456
{
	z-index: 78;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 87.93%;
	left: 6.29%;
}

#u1343
{
	z-index: 79;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1419
{
	z-index: 80;
	background-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 74.73%;
	left: 12.64%;
}

#u1372
{
	z-index: 72;
	background-color: #BFBFBF;
	border-radius: 4px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	width: 21.57%;
	left: 27.71%;
}

#u1447
{
	z-index: 74;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 87.93%;
	left: 6.29%;
}

#u1360
{
	z-index: 75;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 69px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1426
{
	z-index: 76;
	background-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	width: 86.27%;
	left: 6.6%;
}

#u1388
{
	z-index: 73;
	background-color: #BFBFBF;
	border-radius: 4px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	width: 21.57%;
	left: 51.05%;
}

#u1404:hover,#u1340:hover,#u1372:hover,#u1388:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	min-height: 0px;
	width: 21.57%;
	margin: 0px -10000px 0px 0%;
}

#u1450
{
	z-index: 82;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	width: 87.93%;
	left: 6.29%;
}

#u1378
{
	z-index: 83;
	background-color: #FFFFFF;
	border-radius: 4px;
	padding-bottom: 62px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u1433
{
	z-index: 84;
	background-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	width: 87.37%;
	left: 6.05%;
}

#u1440 .clip_frame,#u1419 .clip_frame,#u1426 .clip_frame,#u1433 .clip_frame
{
	-webkit-border-radius: 4px 4px 4px 4px;
}

#u848
{
	z-index: 50;
	min-height: 34px;
	padding-bottom: 19px;
}

#u118_align_to_page,#u848_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u849-4
{
	z-index: 51;
	width: 113px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 2.09%;
}

#u850-4
{
	z-index: 55;
	width: 183px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 78.86%;
}

#u848-bw
{
	z-index: 50;
	min-height: 34px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

#u1480_img,#u1440_img,#u1419_img,#u1426_img,#u1433_img,#u122_img
{
	width: 100%;
}

